.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    grid-row-gap: 0px;
    padding-top: 130px;
}

.text-limitness {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (min-width: 720px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1300px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}